@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafb;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
